In [1]:
import pandas as pd
df = pd.read_csv('asp_df.csv', index_col = 0)
df.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,status_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,...,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,...,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,...,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe,functional
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,...,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe,non functional
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,...,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional

In [4]:
out = df['waterpoint_type'] == 'other'
new = df[out]
new.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,status_group
10,49056,0.0,2011-02-20,Private,62,Private,39.209518,-7.034139,Mzee Hokororo,0,...,salty,salty,enough,enough,machine dbh,borehole,groundwater,other,other,functional
18,34169,0.0,2011-07-22,Hesawa,1162,DWE,32.920154,-1.947868,Ngomee,0,...,milky,milky,insufficient,insufficient,spring,spring,groundwater,other,other,functional needs repair
32,57238,0.0,2013-03-19,Government Of Tanzania,1481,DWE,37.492334,-3.290627,Kwa Philip Lyimo,0,...,soft,good,insufficient,insufficient,river,river/lake,surface,other,other,functional needs repair
35,57355,0.0,2013-03-28,Not Known,1546,Not known,36.618699,-3.293003,Sekondari,0,...,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,other,other,non functional
61,40393,0.0,2011-03-22,Government Of Tanzania,1670,DWE,38.376671,-4.647289,Kwamussa Chabega,0,...,soft,good,enough,enough,shallow well,shallow well,groundwater,other,other,non functional

In [5]:
new.waterpoint_type.unique()

array(['other'], dtype=object)

In [7]:
new.shape

(6380, 41)

In [8]:
new.status_group.value_counts()

non functional             5247
functional                  840
functional needs repair     293
Name: status_group, dtype: int64

In [9]:
new.funder.value_counts()

Government Of Tanzania    1143
Hesawa                     520
Rwssp                      352
Fini Water                 255
World Bank                 208
                          ...
Icap                         1
Musilim Agency               1
Safari Camp                  1
Mosque                       1
Cmcr                         1
Name: funder, Length: 547, dtype: int64

In [10]:
new.basin.value_counts()

Lake Victoria              1495
Pangani                    1058
Ruvuma / Southern Coast     844
Lake Tanganyika             817
Internal                    801
Wami / Ruvu                 774
Rufiji                      292
Lake Rukwa                  237
Lake Nyasa                   62
Name: basin, dtype: int64

In [11]:
new.source.value_counts()

shallow well            3903
spring                  1025
machine dbh              791
rainwater harvesting     248
river                    168
hand dtw                  67
other                     63
lake                      59
dam                       40
unknown                   16
Name: source, dtype: int64

In [12]:
out = df['status_group'] == 'non functional'
new2 = df[out]
new2.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,status_group
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,...,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe,non functional
6,19816,0.0,2012-10-01,Dwsp,0,DWSP,33.362410,-3.766365,Kwa Ngomho,0,...,soft,good,enough,enough,machine dbh,borehole,groundwater,hand pump,hand pump,non functional
7,54551,0.0,2012-10-09,Rwssp,0,DWE,32.620617,-4.226198,Tushirikiane,0,...,milky,milky,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump,non functional
8,53934,0.0,2012-11-03,Wateraid,0,Water Aid,32.711100,-5.146712,Kwa Ramadhan Musa,0,...,salty,salty,seasonal,seasonal,machine dbh,borehole,groundwater,hand pump,hand pump,non functional
16,48451,500.0,2011-07-04,Unicef,1703,DWE,34.642439,-9.106185,Kwa John Mtenzi,0,...,soft,good,dry,dry,river,river/lake,surface,communal standpipe,communal standpipe,non functional

In [13]:
new2.status_group.value_counts()

non functional    22824
Name: status_group, dtype: int64

In [14]:
new2.water_quality.value_counts()

soft                  18154
salty                  2411
unknown                1577
milky                   352
coloured                190
salty abandoned          93
fluoride                 36
fluoride abandoned       11
Name: water_quality, dtype: int64

In [15]:
new2.quantity.value_counts()

enough          9138
dry             6052
insufficient    5763
seasonal        1309
unknown          562
Name: quantity, dtype: int64

In [16]:
new2.basin.value_counts()

Lake Victoria              4159
Pangani                    3091
Internal                   2746
Lake Tanganyika            2583
Wami / Ruvu                2582
Ruvuma / Southern Coast    2497
Rufiji                     2471
Lake Nyasa                 1511
Lake Rukwa                 1184
Name: basin, dtype: int64